

<div class="header2">
    <div class="header2-opciones">
        <div class="dropdown">
            <a href="/productos/perro">
                <p class="dropbtn">Perro<i class="fa-solid fa-circle-arrow-down"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/perro/comida" style="text-align: left;">Comida</a>
                <a href="/productos/perro/accesorios" style="text-align: left;">Accesorios</a>
                <a href="/productos/perro/higiene" style="text-align: left;">Higiene</a>
                <a href="/productos/perro/juguetes" style="text-align: left;">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/gato">
                <p class="dropbtn">Gato<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/gato/comida" style="text-align: left;">Comida</a>
                <a href="/productos/gato/accesorios" style="text-align: left;">Accesorios</a>
                <a href="/productos/gato/higiene" style="text-align: left;">Higiene</a>
                <a href="/productos/gato/juguetes" style="text-align: left;">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <p class="dropbtn">Categorías<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            
            <div class="dropdown-content">
                <a href="/productos/comida" style="text-align: left;">Comida</a>
                <a href="/productos/accesorios" style="text-align: left;">Accesorios</a>
                <a href="/productos/higiene" style="text-align: left;">Higiene</a>
                <a href="/productos/juguetes" style="text-align: left;">Juguetes</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="/productos/promociones">
                <p class="dropbtn">Promociones<i class="fa-solid fa-circle-arrow-down" style="color: #ffffff;"></i></p>
            </a>
            <div class="dropdown-content">
                <a href="/productos/perro/promociones" style="text-align: left;">Promociones para perro</a>
                <a href="/productos/gato/promociones" style="text-align: left;">Promociones para gato</a>
            </div>
        </div>
    </div>
</div>